<section class="container andy">
  <div class="about-container-swiper">
    <div class="about-me-swiper swiper">
      <ul id="swpr" class="aboutme-skills-list swiper-wrapper">
        <li class="aboutme-skills-item swiper-slide">
          <p class="aboutme-skills-text">HTML/CSS</p>
        </li>
        <li class="aboutme-skills-item swiper-slide">
          <p class="aboutme-skills-text">JavaScript</p>
        </li>
        <li class="aboutme-skills-item swiper-slide">
          <p class="aboutme-skills-text">React</p>
        </li>
        <li class="aboutme-skills-item swiper-slide">
          <p class="aboutme-skills-text">Node. js</p>
        </li>
        <li class="aboutme-skills-item swiper-slide">
          <p class="aboutme-skills-text">React Native</p>
        </li>
        <li class="aboutme-skills-item swiper-slide">
          <p class="aboutme-skills-text">Soft skills</p>
        </li>
      </ul>
    </div>
    <div class="swiper-button-wrap">
      <button
        type="button"
        class="aboutme-swiper-btn"
        aria-label="aboutme swiper button"
      >
        <svg class="aboutme-icon-swiper" width="24" height="24">
          <use href="./Images/symbol-defs.svg#icon-arrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
