<section class="swiper-skills-upcontainer container">
  <div class="swiper-container-skills">
    <div class="swiper-wrapper-skills">
      <div class="swiper-slide-skills active">HTML/CSS</div>
      <div class="swiper-slide-skills">JavaScript</div>
      <div class="swiper-slide-skills">React</div>
      <div class="swiper-slide-skills">Node.js</div>
      <div class="swiper-slide-skills">React Native</div>
      <div class="swiper-slide-skills">Soft skills</div>
    </div>
    <button class="swiper-button-next"></button>
  </div>
</section>
