<header class="header">
  <div class="container header-container">
    <a href="./index.html">
      <div class="logo">
        <img
          class="logo-img"
          src="./Images/hero/logo-image.png"
          srcset="
            ./Images/hero/logo-image.png    1x,
            ./Images/hero/logo-image-x2.png 2x
          "
          alt="logo"
          width="80"
        />
        <p class="logo-text">jefferson*</p>
      </div>
    </a>
    <button class="open-menu-btn">
      <svg class="open-menu" width="28" height="28">
        <use href="./Images/symbol-defs.svg#icon-open"></use>
      </svg>
    </button>
    <nav class="tablet-nav">
      <button class="menu-header">Menu</button>
      <ul id="menu-list" class="hide">
        <li class="menu-list-item"><a href="#about-me-section">About me</a></li>
        <li class="menu-list-item"><a href="#benefits">Benefits</a></li>
        <li class="menu-list-item"><a href="#project">Projects</a></li>
        <li class="menu-list-item"><a href="#faq">FAQ</a></li>
      </ul>
    </nav>
    <a
      class="button-order-link button-order-js button-oder button-tablet hover"
      href="#work-together"
    >
      Order the project
    </a>
  </div>
  <div class="menu">
    <button class="close-menu-btn">
      <svg class="close-menu" width="28" height="28">
        <use href="./Images/symbol-defs.svg#icon-close"></use>
      </svg>
    </button>
    <nav class="nav">
      <ul class="menu-list menu-list-js">
        <li class="menu-list-item"><a href="#about-me-section">About me</a></li>
        <li class="menu-list-item"><a href="#benefits">Benefits</a></li>
        <li class="menu-list-item"><a href="#project">Projects</a></li>
        <li class="menu-list-item"><a href="#faq">FAQ</a></li>
      </ul>
      <a href="#work-together" class="button-order-js button-oder"
        >Order the project</a
      >
    </nav>
  </div>
</header>
