<section id="Projects" class="hero">
  <div class="container hero-container">
    <h1 class="title">
      Hello.<br />
      I’m Fullstack developer Lloyd Jefferson.
    </h1>
    <ul class="social-list">
      <li>
        <a href=" https://www.instagram.com/goitclub/" class="socail-link"
          >IG</a
        >
      </li>
      <li>
        <a href="https://www.youtube.com/c/GoIT" class="socail-link">FB</a>
      </li>
      <li>
        <a href="https://www.facebook.com/goITclub/" class="socail-link">YT</a>
      </li>
      <li>
        <a
          href="https://pavlo-bielohurov.github.io/Project-of-Developers-/"
          class="socail-link"
          >GH</a
        >
      </li>
      <li>
        <a href="mailto:lloydjefferson@gmail.com" class="socail-link-email"
          >lloydjefferson@gmail.com</a
        >
      </li>
    </ul>
  </div>
</section>
