<section id="project" class="projects">
  <div class="container">
    <h2 class="projects-main-title">PROJECTS</h2>
    <div class="swiper-container mySwiper">
      <div class="swiper-wrapper">
        <div class="projects-slide swiper-slide">
          <ul class="projects-list">
            <li class="projects-item">
              <div class="first-panel">
                <div class="tags">
                  <span class="tag">#react</span>
                  <span class="tag">#js</span>
                  <span class="tag">#node js</span>
                  <span class="tag">#git</span>
                </div>
                <h3 class="projects-title">
                  Programming Across Borders: Ideas, Technologies, Innovations
                </h3>
                <div class="projects-btn">
                  <a
                    href="https://github.com/"
                    target="_blank"
                    class="projects-link"
                    >See project</a
                  >
                </div>
              </div>

              <div class="second-panel">
                <picture>
                  <source
                    srcset="
                      ./Images/projects/tab-1x.jpg  1x,
                      ./Images/projects/tab1-2x.jpg 2x
                    "
                    media="(min-width:1140px)"
                  />
                  <source
                    srcset="
                      ./Images/projects/tab-1x.jpg  1x,
                      ./Images/projects/tab1-2x.jpg 2x
                    "
                    media="(min-width:768px)"
                  />
                  <source
                    srcset="
                      ./Images/projects/mob1-1x.jpg 1x,
                      ./Images/projects/mob1-2x.jpg 2x
                    "
                    media="(min-width:320px)"
                  />
                  <img
                    class="panel-image"
                    src="./Images/projects/tab-1x.jpg"
                    alt="read journey"
                    width="614"
                    height="385"
                  />
                </picture>
              </div>
            </li>
          </ul>
        </div>
        <div class="swiper-slide">
          <ul class="projects-list">
            <li class="projects-item">
              <div class="first-panel">
                <div class="tags">
                  <span class="tag">#react</span>
                  <span class="tag">#js</span>
                  <span class="tag">#node js</span>
                  <span class="tag">#git</span>
                </div>
                <h3 class="projects-title">
                  Programming Across Borders: Ideas, Technologies, Innovations
                </h3>
                <div class="projects-btn">
                  <a
                    href="https://github.com/"
                    target="_blank"
                    class="projects-link"
                    >See project</a
                  >
                </div>
              </div>

              <div class="second-panel">
                <picture>
                  <source
                    srcset="
                      ./Images/projects/tab-pet-1x.jpg    1x,
                      ./Images/projects/tabpetlove-2x.jpg 2x
                    "
                    media="(min-width:1140px)"
                  />
                  <source
                    srcset="
                      ./Images/projects/tab-pet-1x.jpg    1x,
                      ./Images/projects/tabpetlove-2x.jpg 2x
                    "
                    media="(min-width:768px)"
                  />
                  <source
                    srcset="
                      ./Images/projects/mob-pet-1x.jpg    1x,
                      ./Images/projects/mobpetlove-2x.jpg 2x
                    "
                    media="(min-width:320px)"
                  />
                  <img
                    class="panel-image"
                    src="./Images/projects/tab-pet-1x.jpg"
                    alt="pet love"
                    width="614"
                    height="385"
                  />
                </picture>
              </div>
            </li>
          </ul>
        </div>
        <div class="swiper-slide">
          <ul class="projects-list">
            <li class="projects-item">
              <div class="first-panel">
                <div class="tags">
                  <span class="tag">#react</span>
                  <span class="tag">#js</span>
                  <span class="tag">#node js</span>
                  <span class="tag">#git</span>
                </div>
                <h3 class="projects-title">
                  Programming Across Borders: Ideas, Technologies, Innovations
                </h3>
                <div class="projects-btn">
                  <a
                    href="https://github.com/"
                    target="_blank"
                    class="projects-link"
                    >See project</a
                  >
                </div>
              </div>

              <div class="second-panel">
                <picture>
                  <source
                    srcset="
                      ./Images/projects/tab-reg-1x.jpg 1x,
                      ./Images/projects/tabreg-2x.jpg  2x
                    "
                    media="(min-width:1140px)"
                  />
                  <source
                    srcset="
                      ./Images/projects/tab-reg-1x.jpg 1x,
                      ./Images/projects/tabreg-2x.jpg  2x
                    "
                    media="(min-width:768px)"
                  />
                  <source
                    srcset="
                      ./Images/projects/mob-reg-1x.jpg 1x,
                      ./Images/projects/mobreg-2x.jpg  2x
                    "
                    media="(min-width:320px)"
                  />
                  <img
                    class="panel-image"
                    src="./Images/projects/tab-reg-1x.jpg"
                    alt="register"
                    width="614"
                    height="385"
                  />
                </picture>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="btn-wrap">
      <button class="btn projects-swiper-button-prev">
        <svg class="arrow-icon">
          <use
            href="./Images/symbol-defs.svg#icon-btn-arrow-right"
            width="24"
            height="24"
          ></use>
        </svg>
      </button>
      <button class="btn projects-swiper-button-next">
        <svg class="arrow-icon">
          <use
            href="./Images/symbol-defs.svg#icon-btn-arrow-left"
            width="24"
            height="24"
          ></use>
        </svg>
      </button>
    </div>
  </div>
</section>
