<section id="project" class="projects">
  <div class="container">
    <h2 class="projects-main-title">PROJECTS</h2>
    <div class="swiper mySwiper">
      <ul class="swiper-wrapper">
        <li class="swiper-slide">
          <div class="projects-wrapper">
            <div class="first-panel">
              <div class="tags">
                <span class="tag">#react</span>
                <span class="tag">#js</span>
                <span class="tag">#node js</span>
                <span class="tag">#git</span>
              </div>
              <h3 class="projects-title">
                Programming Across Borders: Ideas, Technologies, Innovations
              </h3>
              <div class="projects-btn">
                <a
                  href="https://github.com/Pavlo-Bielohurov/Project-of-Developers-"
                  target="_blank"
                  class="projects-link"
                  >See project</a
                >
              </div>
            </div>
            <div class="second-panel">
              <picture>
                <source
                  srcset="
                    ./Images/projects/tab-1x.jpg  1x,
                    ./Images/projects/tab1-2x.jpg 2x
                  "
                  media="(min-width:1140px)"
                />
                <source
                  srcset="
                    ./Images/projects/tab-1x.jpg  1x,
                    ./Images/projects/tab1-2x.jpg 2x
                  "
                  media="(min-width:768px)"
                />
                <source
                  srcset="
                    ./Images/projects/mob1-1x.jpg 1x,
                    ./Images/projects/mob1-2x.jpg 2x
                  "
                  media="(min-width:320px)"
                />
                <img
                  class="panel-image"
                  src="./Images/projects/tab-1x.jpg"
                  alt="read journey"
                  width="614"
                  height="385"
                />
              </picture>
            </div>
          </div>
        </li>
        <li class="swiper-slide">
          <div class="projects-wrapper">
            <div class="first-panel">
              <div class="tags">
                <span class="tag">#react</span>
                <span class="tag">#js</span>
                <span class="tag">#node js</span>
                <span class="tag">#git</span>
              </div>
              <h3 class="projects-title">
                Programming Across Borders: Ideas, Technologies, Innovations
              </h3>
              <div class="projects-btn">
                <a
                  href="https://github.com/Pavlo-Bielohurov/Project-of-Developers-"
                  target="_blank"
                  class="projects-link"
                  >See project</a
                >
              </div>
            </div>
            <div class="second-panel">
              <picture>
                <source
                  srcset="
                    ./Images/projects/tab-pet-1x.jpg    1x,
                    ./Images/projects/tabpetlove-2x.jpg 2x
                  "
                  media="(min-width:1140px)"
                />
                <source
                  srcset="
                    ./Images/projects/tab-pet-1x.jpg    1x,
                    ./Images/projects/tabpetlove-2x.jpg 2x
                  "
                  media="(min-width:768px)"
                />
                <source
                  srcset="
                    ./Images/projects/mob-pet-1x.jpg    1x,
                    ./Images/projects/mobpetlove-2x.jpg 2x
                  "
                  media="(min-width:320px)"
                />
                <img
                  class="panel-image"
                  src="./Images/projects/tab-pet-1x.jpg"
                  alt="pet love"
                  width="614"
                  height="385"
                />
              </picture>
            </div>
          </div>
        </li>
        <li class="swiper-slide">
          <div class="projects-wrapper">
            <div class="first-panel">
              <div class="tags">
                <span class="tag">#react</span>
                <span class="tag">#js</span>
                <span class="tag">#node js</span>
                <span class="tag">#git</span>
              </div>
              <h3 class="projects-title">
                Programming Across Borders: Ideas, Technologies, Innovations
              </h3>
              <div class="projects-btn">
                <a
                  href="https://github.com/Pavlo-Bielohurov/Project-of-Developers-"
                  target="_blank"
                  class="projects-link"
                  >See project</a
                >
              </div>
            </div>
            <div class="second-panel">
              <picture>
                <source
                  srcset="
                    ./Images/projects/tab-reg-1x.jpg 1x,
                    ./Images/projects/tabreg-2x.jpg  2x
                  "
                  media="(min-width:1140px)"
                />
                <source
                  srcset="
                    ./Images/projects/tab-reg-1x.jpg 1x,
                    ./Images/projects/tabreg-2x.jpg  2x
                  "
                  media="(min-width:768px)"
                />
                <source
                  srcset="
                    ./Images/projects/mob-reg-1x.jpg 1x,
                    ./Images/projects/mobreg-2x.jpg  2x
                  "
                  media="(min-width:320px)"
                />
                <img
                  class="panel-image"
                  src="./Images/projects/tab-reg-1x.jpg"
                  alt="register"
                  width="614"
                  height="385"
                />
              </picture>
            </div>
          </div>
        </li>
      </ul>
      <div class="projects-btn-wrapper">
        <button type="button" class="projects-btn swiper-button-prev">
          <svg class="projects-svg" aria-label="arrow left">
            <use href="./Images/symbol-defs.svg#icon-btn-arrow-left"></use>
          </svg>
        </button>
        <button type="button" class="projects-btn swiper-button-next">
          <svg class="projects-svg" aria-label="arrow right">
            <use href="./Images/symbol-defs.svg#icon-btn-arrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
