.swiper-skills-upcontainer {
  display: flex;
  align-items: center;
  margin: 0;
   padding-left: 16x;
    padding-bottom: 64px;
}

.swiper-container-skills {
  display: flex;
  align-items: center;
}

.swiper-wrapper-skills {
  display: flex;
  overflow: hidden;
}

.swiper-slide-skills {
  display: flex;
  justify-content: center;
  align-items: center;
    width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #444;
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
   font-size: 16px;
  letter-spacing: -0.02em;
  color: #fafafa;
  transition: background-color 0.3s;
}

.swiper-slide-skills.active {
  background-color: #ed3b44;
}

.swiper-button-next {
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
}

/* ===============================TAB=============================== */

@media screen and (min-width: 768px) {
  .swiper-skills-upcontainer {
    padding-left: 32px;
    padding-bottom: 94px;
  }

.swiper-slide-skills {
  
   width: 200px;
  height: 200px; */
  font-size: 20px;
 
}

}

/* ============================DESKTOP=========================== */

@media screen and (min-width: 1440px){
  .swiper-skills-upcontainer {
   padding-left: 64px; */
   padding-bottom: 164px;
  
}
}