.about-container-swiper {
  display: flex;
  /* margin-bottom: 164px; */
}

.about-me-swiper {
  height: 130px;
  display: flex;
  align-items: center;
  width: 260px;
  margin: 0;
  overflow: hidden;
}
.aboutme-skills-list {
  display: flex;
}
.aboutme-skills-item.swiper-slide {
  width: 130px;
  height: 130px;
  border: 1px solid #444;
  display: flex;
  justify-content: center;

  align-items: center;
  border-radius: 50%;
  text-align: center;
}

.aboutme-skills-item.swiper-slide-active {
  background-color: #ed3b44;
}

.aboutme-skills-text {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #fafafa;
}

.swiper-button-wrap {
  width: 28px;
  /* margin-left: 55px; */
  display: flex;
  align-items: center;
}

.aboutme-swiper-btn {
  display: block !important;
  width: 28px;
  height: 28px;
  border: none;
  background-color: transparent;
}

.aboutme-icon-swiper {
  stroke: transparent;
  fill: #444;
}

@media screen and (max-width: 374px) {
}

@media screen and (min-width: 768px) {
  /* .about-container-swiper {
    margin-top: 64px;
  } */

  .about-me-swiper {
    height: 200px;
    width: 600px;
  }

  .aboutme-skills-item.swiper-slide {
    height: 200px;
    width: 200px;
  }

  .aboutme-skills-item {
    width: 200px;
    height: 200px;
  }

  .aboutme-skills-text {
    font-size: 20px;
  }

  .swiper-button-wrap {
    width: 40px;
    margin-left: 64px;
  }

  .aboutme-swiper-btn {
    width: 60px;
    height: 60px;
  }
}

@media screen and (min-width: 1440px) {
  .about-me-swiper {
    width: 1232px;
    padding-left: 32px;
  }

  .swiper-button-wrap {
    margin-left: 72px;
  }

  .about-container-swiper {
    margin-bottom: 164px;
  }
}

.andy {
}
