.container {
  max-width: 320px;
  padding: 0 20px;
  margin: 0 auto;
  height: 100%;
}

.projects {
  padding-top: 32px;
  padding-bottom: 32px;
}

.projects-main-title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: rgba(250, 250, 250, 0.4);
  margin-bottom: 32px;
}

.projects-wrapper {
  margin-bottom: 32px;
}

.first-panel {
  text-align: left;
  padding: 32px;
  background-color: #fafafa;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  margin-bottom: 96px;
}

.tag {
  border: 1px solid rgba(28, 29, 32, 0.2);
  border-radius: 60px;
  padding: 13px 18px;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #1c1d20;
}

.projects-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 117%;
  letter-spacing: -0.03em;
  color: #1c1d20;
  margin-bottom: 32px;
}

.projects-link {
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #fafafa;
  border-radius: 60px;
  padding: 13px 32px;
  background-color: #ed3b44;
  transition: background-color, 250ms, linear;
}

.projects-link:hover,
.projects-link:focus {
  background-color: #e0373f;
}

.second-panel {
  min-width: 0;
  background-color: #242527;
  padding: 100px 16px;
  border-radius: 0 0 24px 24px;
}

.panel-image {
  width: 311px;
  height: 195px;
  border-radius: 0px;
}

.projects-btn-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  gap: 35px;
  height: 52px;
}
.projects-btn.swiper-button-next,
.projects-btn.swiper-button-prev {
  border: 1px solid rgba(250, 250, 250, 0.5);
  border-radius: 60px;
  padding: 14px;
  width: 52px;
  height: 52px;
  background-color: #1c1d20;
  position: relative;
  line-height: 0;
  top: 15px;
  stroke: #fafafa;
  transition: border-color 250ms linear;
}

.projects-btn.swiper-button-next:after,
.projects-btn.swiper-button-prev:after {
  content: '';
}
.projects-svg {
  width: 24px;
  height: 24px;
  transition: stroke 250ms linear;
  fill: transparent;
  stroke: #fafafa;
}

@media screen and (min-width: 375px) {
  .container {
    max-width: 375px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }

  .projects {
    padding-top: 48px;
    padding-bottom: 48px;
  }

  .projects-wrapper {
    margin-bottom: 64px;
  }

  .first-panel {
    padding: 64px;
    border-radius: 24px 24px 0 0;
  }

  .tags {
    margin-bottom: 164px;
  }

  .projects-title {
    font-size: 44px;
    width: 494px;
    line-height: 100%;
  }

  .projects-list {
    overflow: hidden;
    max-width: 704px;
  }

  .projects-link {
    display: flex;
    text-wrap: nowrap;
    padding: 18px 50px;
    width: 177px;
  }

  .second-panel {
    padding-top: 120px;
    padding-bottom: 120px;
    padding-left: 45px;
    padding-right: 45px;
    border-radius: 0 0 24px 24px;
  }

  .panel-image {
    width: 614px;
    height: 385px;
  }

  .projects-btn-wrapper {
    gap: 43px;
  }

  .projects-btn {
    padding: 18px;
    width: 68px;
    height: 68px;
  }

  .projects-svg {
    width: 32px;
    height: 32px;
    fill: transparent;
    stroke: #fafafa;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    min-width: 1440px;
    padding: 0 100px;
  }

  .projects {
    padding-top: 82px;
    padding-bottom: 82px;
  }

  .projects-wrapper {
    width: 1376px;
    height: 625px;
    display: flex;
  }

  .first-panel {
    min-width: 688px;
    border-bottom-left-radius: 24px;
    border-top-right-radius: 0px;
  }

  .tags {
    margin-bottom: 223px;
  }

  .projects-slide {
    border-radius: 24px;

    max-width: 1376px;
    height: 625px;
  }

  .projects-title {
    font-size: 44px;
    min-width: 494px;
  }

  .second-panel {
    padding: 120px 37px;
    border-radius: 0 24px 24px 0;
    width: 688px;
    height: 625px;
  }
}
