.footer {
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: #1c1d20;
}

@media screen and (min-width: 768px) {
  .footer {
    padding-top: 80px;
    padding-bottom: 169px;
  }
}

@media screen and (min-width: 1440px) {
  .footer > .container {
    padding-left: 196px;
  }
}

.footer-title {
  color: #fafafa;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 4px 8px;
  margin-bottom: 63px;
  font-weight: 500;
  font-size: 40px;
  line-height: 1;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .footer-title {
    max-width: 542px;
    margin-bottom: 64px;
    gap: 7px 20px;

    font-size: 64px;
  }
}

.footer-accent-text {
  margin-left: 2px;
  color: #ed3b44 /*var(--akcent-collor)*/;
}
@media screen and (max-width: 374px) {
  .footer-contacts-list {
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer-contacts-link:last-child {
    margin-bottom: 8px;
  }

  .spinner-wrap {
    align-self: center;
  }
}

@media screen and (min-width: 768px) {
  .footer-accent-text {
    margin-left: -6px;
  }
}

.footer-contacts-form {
  display: flex;
  flex-direction: column;
  gap: 26px;
  margin-bottom: 54px;
}

@media screen and (min-width: 768px) {
  .footer-contacts-form {
    flex-direction: row;
    align-items: center;
    gap: 32px;
    margin-bottom: 18px;
  }
}

.contacts-form-field {
  position: relative;
}

.contacts-form-field + .contacts-form-field {
  margin-bottom: 5px;
}

@media screen and (min-width: 768px) {
  .contacts-form-field + .contacts-form-field {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1440px) {
  .contacts-form-field + .contacts-form-field {
    margin-right: 54px;
  }
}

.contacts-form-inp {
  border: none;
  background-color: #1c1d20;
  width: 100%;
  height: 44px;
  color: #fafafa99;

  border-bottom: 1px solid rgba(250, 250, 250, 0.2);
}

.contacts-form-inp.input {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (min-width: 768px) {
  .contacts-form-inp {
    width: 245px;
  }
}

@media screen and (min-width: 1440px) {
  .contacts-form-inp {
    width: 390px;
  }
}

.contacts-form-inp::placeholder {
  color: #fafafa99;
}

.contacts-form-textarea {
  display: block;
}

.contacts-form-label {
  position: absolute;
  top: 10px;
  left: 2px;
  transform: scale(1);
  color: #fafafa99;

  transition: transform 470ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

@media screen and (min-width: 768px) {
  .contacts-form-label {
    transition: transform 400ms cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  .contacts-form-label.textarea {
    transition: transform 470ms cubic-bezier(0.075, 0.82, 0.165, 1);
  }
}

@media screen and (min-width: 1440px) {
  .contacts-form-label {
    transition: transform 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  .contacts-form-label.textarea {
    transition: transform 600ms cubic-bezier(0.075, 0.82, 0.165, 1);
  }
}

.contacts-form-textarea::placeholder {
  opacity: 1;
  transition: opacity 350ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

@media screen and (min-width: 768px) {
  .contacts-form-textarea:focus::placeholder {
    transition: opacity 350ms 170ms cubic-bezier(0.075, 0.82, 0.165, 1);
  }
}

@media screen and (min-width: 1440px) {
  .footer-div {
    display: flex;
    flex-direction: column;
  }
  .contacts-form-textarea:focus::placeholder {
    transition: opacity 380ms 280ms cubic-bezier(0.075, 0.82, 0.165, 1);
  }
}

.contacts-form-inp:focus + .contacts-form-label,
.contacts-form-inp:not(:placeholder-shown) + .contacts-form-label {
  transform: translate(225px, -29px) scale(0.8);
  color: #fafafa99;
}
.contacts-form-inp:focus + .contacts-form-label.textarea,
.contacts-form-inp:not(:placeholder-shown) + .contacts-form-label.textarea {
  transform: translate(274px, -29px) scale(0.8);
  color: #fafafa99;
}

@media screen and (min-width: 768px) {
  .contacts-form-inp:focus + .contacts-form-label,
  .contacts-form-inp:not(:placeholder-shown) + .contacts-form-label {
    transform: translate(115px, -29px);
  }
  .contacts-form-inp:focus + .contacts-form-label.textarea,
  .contacts-form-inp:not(:placeholder-shown) + .contacts-form-label.textarea {
    transform: translate(170px, -29px);
  }
}

@media screen and (min-width: 1440px) {
  .contacts-form-inp:focus + .contacts-form-label,
  .contacts-form-inp:not(:placeholder-shown) + .contacts-form-label {
    transform: translate(258px, -29px);
  }
  .contacts-form-inp:focus + .contacts-form-label.textarea,
  .contacts-form-inp:not(:placeholder-shown) + .contacts-form-label.textarea {
    transform: translate(312px, -29px);
  }
}

.contacts-form-inp:not(:placeholder-shown),
.contacts-form-inp:focus {
  border-color: rgba(250, 250, 250, 0.5);
}

.contacts-form-inp::selection {
  background-color: transparent;
}

.contacts-form-inp.input:not(:focus):not(:placeholder-shown):valid {
  border-color: #fafafa99;
}
.contacts-form-inp.input:not(:focus):not(:placeholder-shown):invalid {
  border-color: #fafafa99;
}

.valid-notify,
.invalid-notify {
  opacity: 0;
  position: absolute;
  bottom: -24px;
  left: 0;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 350ms cubic-bezier(0.075, 0.82, 0.165, 1),
    visibility 350ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.invalid-notify {
  color: #ed3b44;
}

.contacts-form-inp.input:not(:focus):not(:placeholder-shown):valid
  + .contacts-form-label
  + .valid-notify,
.contacts-form-inp.input:not(:focus):not(:placeholder-shown):invalid
  + .contacts-form-label
  + .valid-notify
  + .invalid-notify {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transition: opacity 350ms 200ms cubic-bezier(0.075, 0.82, 0.165, 1),
    visibility 350ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.spinner-wrap {
  position: relative;
  height: 100px;
}

@media screen and (min-width: 768px) {
  .spinner-wrap {
    height: 150px;
  }
}

.contacts-form-btn {
  border: none;
  color: #fafafa;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background-color: #ed3b44;
}

@media screen and (min-width: 768px) {
  .contacts-form-btn {
    width: 150px;
    height: 150px;
  }
}

.footer-contacts-list {
  display: flex;
}

@media screen and (min-width: 768px) {
  .footer-contacts-list {
  }
}

.contacts-form-btn:hover,
.contacts-form-btn:focus {
  background-color: #d8797e;
}

/*.footer-contacts-item {

  } */

.footer-contacts-link {
  margin-right: 2px;
  display: block;
  padding: 10px 12px;
  font-size: 14px;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 60px;
  color: #fafafa;
}

@media screen and (min-width: 768px) {
  .footer-contacts-link {
    margin-right: 8px;
    padding: 18px 32px;
    font-size: 16px;
  }
}

.footer-contacts-link:hover,
.footer-contacts-link:focus {
  border-color: #fafafa;
}

/** iziToast - style */

.iziToast-wrapper > .iziToast-capsule > .infoNotify {
  position: relative;
  max-width: 343px;
  padding: 64px 32px;

  border-radius: 20px;
  border: 1px solid rgba(250, 250, 250, 0.1);
}

.iziToast-wrapper > .iziToast-capsule > .emptyNotify,
.iziToast-wrapper > .iziToast-capsule > .errorNotify {
  position: relative;

  border-radius: 20px;
  overflow-x: hidden;
}

@media screen and (min-width: 768px) {
  .iziToast-wrapper > .iziToast-capsule > .infoNotify {
    max-width: 494px;
    padding: 64px;
  }
}

.iziToast-capsule > .infoNotify > .iziToast-body {
  margin-left: 0;
  padding-left: 0;
}

.iziToast-capsule > .infoNotify > .iziToast-body > .iziToast-texts {
  display: flex;
  flex-direction: column;
  gap: 16px;

  margin-top: 0;
  padding-right: 0;
}

.iziToast-capsule > .infoNotify > .iziToast-body .iziToast-message {
  margin-bottom: 0;

  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  letter-spacing: -0.02em;
  text-align: center;
}

.iziToast-capsule > .infoNotify > .iziToast-close,
.iziToast-capsule > .emptyNotify > .iziToast-close,
.iziToast-capsule > .errorNotify > .iziToast-close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 22px;
  height: 22px;

  background-image: url(../Images/work/modal-close-notify.svg);
  background-size: 22px 22px;
}

.iziToast-capsule > .errorNotify > .iziToast-close {
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

@media screen and (min-width: 768px) {
  .iziToast-capsule > .infoNotify > .iziToast-close {
    background-size: 24px 24px;
  }
}

.loader {
  position: absolute;
  top: 25%;
  left: 26px;
  transform: translateY(-50%);
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-bottom-color: #ff3d00;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@media screen and (min-width: 768px) {
  .loader {
    top: 32%;
    left: 49px;
    width: 53px;
    height: 53px;
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.is-hidden {
  display: none;
}

.contacts-form-textarea {
  resize: none;
}

.contacts-form-inp:focus {
  outline: none;
}
/* Modal
.foot-modal {
  position: absolute;
  left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color:#1C1D20;
  
  max-width: 343px;
  padding: 64px 32px;

  border-radius: 20px;
  border: 1px solid rgba(250, 250, 250, 0.1);
*/

/*display: none;
    position: fixed;
    cursor: pointer;
    
    z-index: 1;
  }

  @media screen and (min-width: 768px) {
    .foot-modal {
      max-width: 494px;
      padding: 64px;
    }
  }
 .modal-title{
  text-align: center;
  font-size: 20px;
  color: #FAFAFA;
  margin-bottom: 16px;
 } 

 .modal-message{
  text-align: center;
  color: #FAFAFA99;
  font-size: 16px;

  display: flex;
  flex-direction: column;
  
  margin-top: 0;
  padding-right: 0;
 }

 .modal-close-btn i { 
  font-family: var(--font-regular);
  position: absolute;
  right: 5px;
  top: 5px;
  width: 30px;
  height: 30px;
  cursor: pointer;

 }
 .modal-close .modal-close-btn {
  margin-bottom: 20px;
  color: #FAFAFA;
  border: none;
  position: absolute;
 
  
  }

  @media screen and (min-width: 768px) {
    .modal-close {
      background-size: 24px 24px;
    }
  }*/
